.content > span {
    margin-bottom: 10px;
    display: block;
    font-weight: 400;
    font-size: 48px;
}

.bold {
    display: inline;
    font-weight: bolder;
}

.container p {
    color: rgba(150, 152, 154, 1);
    text-align: left;
    max-width: 50%;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.parent > img {
    width: 300px;
    margin-top: -46px;
}

.content {
    flex: 1;
}